.cli{
  height:300px;
width:800px;
  background:blue;
  font-size:100px;
  border-radius:10%;
}
.inp{
  height:100px;
width:800px;
background:green;
font-size:80px;
}
.btn{
height:200px;
width:800px;
background:red;
font-size:100px;
  border-radius:10%;
}